<h2 class="text-center mt-3">Forgot your password?</h2>
<div class="d-flex align-items-center flex-column devise-form w-50 p-5 text-center mx-auto mt-5">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="actions">
      <%= f.submit "Send me reset password instructions", class: "btn btn-light mt-3" %>
    </div>
    <% end %>
</div>

<div class="text-center mt-3">
  <%= render "devise/shared/links" %>
</div>
